In [1]:
import pandas as pd

file_name = "hr.csv"
df = pd.read_csv(file_name, sep=';')
print(df.head())

   EmpID          Name        ID No.                   department      \
0  52578  Emp        1  2.840000e+13                      Maintenance
1  50880         Emp 2  2.920000e+13                        Logistics
2  57337         Emp 3  3.000000e+13                    Manufacturing
3  55115         Emp 4  2.960000e+13            Administration
4  59675         Emp 5  2.930000e+13                          Finance

    Gender         DOB        Age    PayType           Position  \
0     Male  26/01/1984  41.655556  Part Time            Manager
1     Male  24/11/1992  32.827778  Part Time           Employee
2     Male  09/10/2000  24.952778  Part Time           Employee
3   Female  19/06/1996  29.258333  Full Time           Employee
4     Male  21/09/1993  32.002778  Part Time           Employee

                     Branch Place of Birth   Hire date  Years no.      Salary
0                      Giza          Cairo  12/06/2022          3  EGP 21,194
1                Alexandria        Sharqia  13/06/2022          3   EGP 5,008
2                  Ismailia           Giza  14/06/2022          3   EGP 3,009
3                      Giza        Monufia  15/06/2022          3         NaN
4                  Ismailia          Cairo  16/06/2022          3         NaN

In [12]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   EmpID               1000 non-null   int64
 1   Name                1000 non-null   object
 2   ID No.              1000 non-null   float64
 3       department      1000 non-null   object
 4   Gender              1000 non-null   object
 5   DOB                 1000 non-null   datetime64[ns]
 6   Age                 1000 non-null   float64
 7   PayType             1000 non-null   object
 8   Position            1000 non-null   object
 9   Branch              1000 non-null   object
 10  Place of Birth      1000 non-null   object
 11  Hire date           392 non-null    datetime64[ns]
 12  Years no.           1000 non-null   int64
 13  Salary              994 non-null    float64
dtypes: datetime64[ns](2), float64(3), int64(2), object(7)
memory usage: 109.5+ KB
None

In [5]:
df["Hire date"] = pd.to_datetime(df["Hire date"], errors='coerce')

In [6]:
df["DOB"] = pd.to_datetime(df["DOB"], errors='coerce')

In [8]:
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].str.replace(r'\s+', ' ', regex=True).str.strip()
print(df.head())

   EmpID   Name        ID No.     department      Gender        DOB  \
0  52578  Emp 1  2.840000e+13        Maintenance    Male 1984-01-26
1  50880  Emp 2  2.920000e+13          Logistics    Male 1992-11-24
2  57337  Emp 3  3.000000e+13      Manufacturing    Male 2000-10-09
3  55115  Emp 4  2.960000e+13     Administration  Female 1996-06-19
4  59675  Emp 5  2.930000e+13            Finance    Male 1993-09-21

         Age    PayType  Position      Branch Place of Birth  Hire date  \
0  41.655556  Part Time   Manager        Giza          Cairo 2022-12-06
1  32.827778  Part Time  Employee  Alexandria        Sharqia        NaT
2  24.952778  Part Time  Employee    Ismailia           Giza        NaT
3  29.258333  Full Time  Employee        Giza        Monufia        NaT
4  32.002778  Part Time  Employee    Ismailia          Cairo        NaT

   Years no.      Salary
0          3  EGP 21,194
1          3   EGP 5,008
2          3   EGP 3,009
3          3         NaN
4          3         NaN

In [9]:
null_counts = df.isnull().sum() 
print(null_counts)

EmpID                   0
Name                    0
ID No.                  0
    department          0
Gender                  0
DOB                     0
Age                     0
PayType                 0
Position                0
Branch                  0
Place of Birth          0
Hire date             608
Years no.               0
Salary                  6
dtype: int64

In [17]:

df.to_excel("d:/hr project.xlsx", index=False)

In [11]:
df['Salary'] = pd.to_numeric(df['Salary'].str.replace('EGP', '').str.replace(',', '').str.strip(), errors='coerce')
print(df.head())

   EmpID   Name        ID No.     department      Gender        DOB  \
0  52578  Emp 1  2.840000e+13        Maintenance    Male 1984-01-26
1  50880  Emp 2  2.920000e+13          Logistics    Male 1992-11-24
2  57337  Emp 3  3.000000e+13      Manufacturing    Male 2000-10-09
3  55115  Emp 4  2.960000e+13     Administration  Female 1996-06-19
4  59675  Emp 5  2.930000e+13            Finance    Male 1993-09-21

         Age    PayType  Position      Branch Place of Birth  Hire date  \
0  41.655556  Part Time   Manager        Giza          Cairo 2022-12-06
1  32.827778  Part Time  Employee  Alexandria        Sharqia        NaT
2  24.952778  Part Time  Employee    Ismailia           Giza        NaT
3  29.258333  Full Time  Employee        Giza        Monufia        NaT
4  32.002778  Part Time  Employee    Ismailia          Cairo        NaT

   Years no.   Salary
0          3  21194.0
1          3   5008.0
2          3   3009.0
3          3      NaN
4          3      NaN

In [14]:
df.isna().sum()

EmpID                   0
Name                    0
ID No.                  0
    department          0
Gender                  0
DOB                     0
Age                     0
PayType                 0
Position                0
Branch                  0
Place of Birth          0
Hire date             608
Years no.               0
Salary                  6
dtype: int64

In [15]:

df = df.dropna() 	
print(df.head())

    EmpID    Name        ID No.     department     Gender        DOB  \
0   52578   Emp 1  2.840000e+13        Maintenance   Male 1984-01-26
19  58595  Emp 20  2.920000e+13          Marketing   Male 1992-05-24
20  50801  Emp 21  3.030000e+13  Quality Assurance   Male 2003-01-07
21  51831  Emp 22  3.030000e+13          Marketing   Male 2003-02-23
22  59021  Emp 23  3.030000e+13          Marketing   Male 2003-06-26

          Age    PayType    Position    Branch Place of Birth  Hire date  \
0   41.655556  Part Time     Manager      Giza          Cairo 2022-12-06
19  33.327778  Part Time  Supervisor  Ismailia          Cairo 2022-01-07
20  22.708333  Part Time    Employee   Sharqia          Cairo 2022-02-07
21  22.580556  Full Time    Employee      Giza        Sharqia 2022-03-07
22  22.238889  Full Time    Employee     Cairo       Ismailia 2022-04-07

    Years no.   Salary
0           3  21194.0
19          3  11896.0
20          3   3906.0
21          3   3772.0
22          3   4089.0

In [16]:
df.isna().sum()

EmpID                 0
Name                  0
ID No.                0
    department        0
Gender                0
DOB                   0
Age                   0
PayType               0
Position              0
Branch                0
Place of Birth        0
Hire date             0
Years no.             0
Salary                0
dtype: int64