In [8]:
import pandas as pd

file_name = "بيانات مناطق.csv"
df = pd.read_csv(file_name, sep=';')
display(df.head())

         data  revenue              region
0  17/11/2024      NaN    عمان     الغربية
1  18/11/2024  12444.0               الكرك
2  19/11/2024  13764.0               مادبا
3  20/11/2024  15084.0               عجلون
4  21/11/2024  16404.0                اربد

In [9]:
 print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247 entries, 0 to 246
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   data     247 non-null    object
 1   revenue  246 non-null    float64
 2   region   247 non-null    object
dtypes: float64(1), object(2)
memory usage: 5.9+ KB
None

In [10]:
df["data"] = pd.to_datetime(df["data"], errors='coerce')

C:\Users\PH1\AppData\Local\Temp\ipykernel_12896\2962343617.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["data"] = pd.to_datetime(df["data"], errors='coerce')

In [12]:
 print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247 entries, 0 to 246
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   data     247 non-null    datetime64[ns]
 1   revenue  246 non-null    float64
 2   region   247 non-null    object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 5.9+ KB
None

In [11]:

for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].str.replace(r'\s+', ' ', regex=True).str.strip()
display(df.head())

        data  revenue        region
0 2024-11-17      NaN  عمان الغربية
1 2024-11-18  12444.0         الكرك
2 2024-11-19  13764.0         مادبا
3 2024-11-20  15084.0         عجلون
4 2024-11-21  16404.0          اربد

In [12]:
null_counts = df.isnull().sum() 
print(null_counts)

data       0
revenue    1
region     0
dtype: int64

In [17]:
df.isna().sum()

data       0
revenue    1
region     0
dtype: int64

In [13]:
df['revenue'].fillna(df['revenue'].mean(), inplace=True)
print(df.head())

        data   revenue        region
0 2024-11-17  174144.0  عمان الغربية
1 2024-11-18   12444.0         الكرك
2 2024-11-19   13764.0         مادبا
3 2024-11-20   15084.0         عجلون
4 2024-11-21   16404.0          اربد

C:\Users\PH1\AppData\Local\Temp\ipykernel_12896\638304591.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['revenue'].fillna(df['revenue'].mean(), inplace=True)

In [14]:
df['revenue'].fillna(df['revenue'].mean(), inplace=True)
print(df.head())

        data   revenue        region
0 2024-11-17  174144.0  عمان الغربية
1 2024-11-18   12444.0         الكرك
2 2024-11-19   13764.0         مادبا
3 2024-11-20   15084.0         عجلون
4 2024-11-21   16404.0          اربد

C:\Users\PH1\AppData\Local\Temp\ipykernel_12896\638304591.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['revenue'].fillna(df['revenue'].mean(), inplace=True)

In [37]:

df.to_excel("d:/lecture 1 python.xlsx", index=False)

In [15]:
import numpy as np
df["performance"] = np.where(df["revenue"] >= 1200, "High", "Low")
print(df.head())

        data   revenue        region performance
0 2024-11-17  174144.0  عمان الغربية        High
1 2024-11-18   12444.0         الكرك        High
2 2024-11-19   13764.0         مادبا        High
3 2024-11-20   15084.0         عجلون        High
4 2024-11-21   16404.0          اربد        High

In [33]:

df["day_name"] = df["data"].dt.day_name()  # اسم اليوم (مثل الأحد، الإثنين)
df["month_name"] = df["data"].dt.month_name()  # اسم الشهر (يناير، فبراير)
df["year"] = df["data"].dt.year
df["month"] = df["data"].dt.month
df["day"] = df["data"].dt.day
df["hour"] = df["data"].dt.hour
df["minute"] = df["data"].dt.minute
df["second"] = df["data"].dt.second
df["quarter"] = df["data"].dt.quarter  

display(df.head())

,data,revenue,region,performance,day_name,month_name,year,month,day,hour,minute,second,quarter
0,2024-11-17,174144.0,عمان الغربية,High,Sunday,November,2024,11,17,0,0,0,4
1,2024-11-18,12444.0,الكرك,High,Monday,November,2024,11,18,0,0,0,4
2,2024-11-19,13764.0,مادبا,High,Tuesday,November,2024,11,19,0,0,0,4
3,2024-11-20,15084.0,عجلون,High,Wednesday,November,2024,11,20,0,0,0,4
4,2024-11-21,16404.0,اربد,High,Thursday,November,2024,11,21,0,0,0,4

In [16]:

df["semester"] = df["data"].dt.month.map(lambda x: 1 if x <= 6 else 2)  # تصنيف إلى نصفين سنويين

print(df.head())

        data   revenue        region performance  semester
0 2024-11-17  174144.0  عمان الغربية        High         2
1 2024-11-18   12444.0         الكرك        High         2
2 2024-11-19   13764.0         مادبا        High         2
3 2024-11-20   15084.0         عجلون        High         2
4 2024-11-21   16404.0          اربد        High         2

In [38]:

df["week_number"] = df["data"].dt.isocalendar().week
print(df.head())

        data   revenue        region performance   day_name month_name  year  \
0 2024-11-17  174144.0  عمان الغربية        High     Sunday   November  2024
1 2024-11-18   12444.0         الكرك        High     Monday   November  2024
2 2024-11-19   13764.0         مادبا        High    Tuesday   November  2024
3 2024-11-20   15084.0         عجلون        High  Wednesday   November  2024
4 2024-11-21   16404.0          اربد        High   Thursday   November  2024

   month  day  hour  minute  second  quarter  semester  week_number
0     11   17     0       0       0        4         2           46
1     11   18     0       0       0        4         2           47
2     11   19     0       0       0        4         2           47
3     11   20     0       0       0        4         2           47
4     11   21     0       0       0        4         2           47

In [44]:

df["month_start"] = df["data"].dt.to_period("M").dt.start_time
print(df.head())

        data   revenue        region performance   day_name month_name  year  \
0 2024-11-17  174144.0  عمان الغربية        High     Sunday   November  2024
1 2024-11-18   12444.0         الكرك        High     Monday   November  2024
2 2024-11-19   13764.0         مادبا        High    Tuesday   November  2024
3 2024-11-20   15084.0         عجلون        High  Wednesday   November  2024
4 2024-11-21   16404.0          اربد        High   Thursday   November  2024

   month  day  hour  minute  second  quarter  semester  week_number  \
0     11   17     0       0       0        4         2           46
1     11   18     0       0       0        4         2           47
2     11   19     0       0       0        4         2           47
3     11   20     0       0       0        4         2           47
4     11   21     0       0       0        4         2           47

  month_start
0  2024-11-01
1  2024-11-01
2  2024-11-01
3  2024-11-01
4  2024-11-01

In [45]:

average_revenue = df['revenue'].mean()
print("متوسط الايرادات")
print(average_revenue)

متوسط الايرادات
174144.0

In [17]:

pivot = df.pivot_table(values='revenue', columns='region', aggfunc='sum')
display(pivot)

region,اربد,الزرقاء,السلط,الطفيلة,الكرك,المنطقة,عجلون,عمان الغربية,مادبا
revenue,4179456.0,4211136.0,4274496.0,4242816.0,5992740.0,1879284.0,6085140.0,6109560.0,6038940.0